<div class="container">
  <div class="row justify-content-center">
    <% if @question.voted_by? current_user %>
      <%= link_to question_vote_question_path(@question), method: :delete, class: "question-upvote upvote-active" do %>
        <span class="upvote-arrow"></span>
        <span class="upvote-count"><%= @question.vote_questions.count %></span>
      <% end %>
    <% else %>
      <%= link_to question_vote_question_path(@question), method: :post, class: "question-upvote" do %>
        <span class="upvote-arrow"></span>
        <span class="upvote-count"><%= @question.vote_questions.count %></span>
      <% end %>
    <% end %>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"><strong><%= @question.title.capitalize %></strong></h5>
        </div>
        <div class="card-body">
          <%= @question.body %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- comentaros de preguntas -->

<%= render 'partials/comments-question' %>

<!-- RESPUESTAS -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <% unless @question.answers.empty? %>
        <h3><%= @question.answers.size %> Respuesta(s)</h3>
        <% @question.answers.each do |answer| %>
          <% if answer.voted_answer_by? current_user %>
            <%= link_to answer_vote_answer_path(answer), method: :delete, class: "question-upvote upvote-active" do %>
              <span class="upvote-arrow"></span>
              <span class="upvote-count"><%= answer.vote_answers.count %></span>
            <% end %>
          <% else %>
            <%= link_to answer_vote_answer_path(answer), method: :post, class: "question-upvote" do %>
              <span class="upvote-arrow"></span>
              <span class="upvote-count"><%= answer.vote_answers.count %></span>
            <% end %>
          <% end %>
          <div class="card">
            <div class="card-body">
              <%= answer.body %>
            </div>
          </div>
          <!-- comentarios de respuesta -->
          <% unless answer.comments.empty? %>
            <div class="row justify-content-end">
              <div class="col-sm-10">
                <h4>Comentarios</h4>
                <% answer.comments.each do |comment| %>
                  <div class="card">
                    <div class="card-body">
                      <%= comment.text %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <!-- crear comentarios de respuesta -->
          <div class="row justify-content-end">
            <div class="col-sm-8">
              <% if signed_in? %>
                <br><h5>Publicar Comentario</h5>
                <%= form_for @comment, url: "/answers/#{answer.id}/commentanswer" do |f| %>
                  <div class="form-group">
                    <%= f.text_area :text, placeholder: "Ingrese un comentario", class: "form-control"%>
                  </div>

                  <div class="form-group">
                    <%= f.submit "Publicar", class: "btn btn-dark btn-sm" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- CREAR RESPUESTAS -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <% if signed_in? %>
        <br><h5>Publicar respuesta</h5>
        <%= form_for [@question, @question.answers.build] do |f| %>
          <div class="form-group">
            <%= f.text_area :body, placeholder: "Ingrese una respuesta", class: "form-control"%>
          </div>

          <div class="form-group">
            <%= f.submit "Publicar", class: "btn btn-dark btn-sm" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
